fastapi
uvicorn[standard]
python-dotenv

langchain
langchain-core
langchain-openai
langchain-pinecone
langchain-text-splitters
simsimd==3.7.7
PYTHON_VERSION=3.11.11
openai
pinecone

pydantic
